
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'rozmu/style.css' %}">
    </head>
    <body>
        <div id="container">
            <div id="lewy">
                <div id="logo">
                    <h2 id="log">Rozmu rozmu</h2>
                </div>

                <div id="wiadomosci">
                    {% for message in lista %}
                    {% if request.user.username == message.Author.username %}
                        <div id="autor"> {{message.Author}}</div>
                        <div id="mess">
                            {{message.Text}}
                        </div>
                    {% else %}
                        <div id="autor"> {{message.Author}}</div>
                        <div id="mess_a">
                            {{message.Text}}
                        </div>
                    {% endif %}<br>
                    {% endfor %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{form.Text}}
                    <button type="submit" id="wyslij">Wyślij</button>
                </form>
                <script type="text/javascript">
                    setTimeout("document.getElementById('wiadomosci').scrollTop=1e6",100)
                </script>
            </div>
            <div id="prawy">
                <h3 id="log"> zalogowany <br> jako <br>{{ request.user }}</h3>
            </div>
            <div id="footer"><a href="/user/logout">Wyloguj</div>
        </div>
    </body>
</html>
