body
{
	margin: 0;
	display: flex;
	background-color: #444444;
	align-items: center;
	justify-content: center;
	height: 70%;
	padding: 20px;
}
#content
{
	background-color: #224390;
	border: 0px solid;
	border-radius: 0px 30px 0px 30px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: auto;
	padding: 5px;
}
h2
{
	font-weight: 500;
}
table
{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	/*text-shadow: 3px 2px 1px grey;*/
	font-weight: 100;
}
input
{
	border: 0px solid;
    border-radius: 10px;
	margin: 4px;
	padding: 2px;
}
button
{
	margin: 4px;
	background-color: #444444;
	color: white;
	border: none;
	padding: 5px;
}
button:hover
{
	color: red;
}
a
{
	text-decoration: none;
	color: white;
}
a:hover
{
	text-decoration: none;
	color: red;
}
